# Environments
.env
.env.local

# Python
__pycache__/
*.py[cod]
*.class
venv/
env/
.pytest_cache/

# Node
node_modules/
.next/
out/
build/
dist/

# Database
*.sqlite
*.db

# OS Files
.DS_Store
Thumbs.db
